.app {
  background-color: #2a2a2a;
  color: #ffffff;
  font-family: Arial, sans-serif;
  padding: 20px;
  margin-bottom: 50px;
}

.card {
  background-color: #333;
  border-radius: 15px;
  padding: 20px;
  margin: 50px;
  margin-left: 300px;
  margin-right: 300px;
}

.card1{
  background-color: #333;
  border-radius: 15px;
  padding: 20px;
  margin: 50px;
  margin-left: 300px;
  margin-right: 300px;

}

@media (min-width:768px) {
  .app-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .card{
    flex: 1;
    margin-bottom: 0;
  }

  .gallery-container, .content-container{
    margin-top: 0;
  }

  .tabs-container{
    justify-content: flex-start;
  }

  .tabs-button{
    padding: 10px 30px;
  }
  
}